SERVER_ADDRESS=http://172.16.8.165:3000

#Postgres
PGPASSWORD=Vietdeptrai2003
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Vietdeptrai2003
DB_NAME=backup

#Backup
BACKUP_ROOT=./backups
PG_DUMP_PATH=G:\PostgreSQL\bin\pg_dump.exe
MONGO_DUMP_PATH=G:\MONGODB_TOOLS\bin\mongodump.exe

#Cleanup
DEFAULT_RETENTION_DAYS=7

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379

#SERVER_ENV=development
SERVER_ENV=development
SERVER_NAME=backup-system

SERVER_PORT=3000

DOCUMENT_AUTH_USER=user
DOCUMENT_AUTH_PASSWORD=password

SERVER_GW_ADDRESS=http://localhost:4000
SERVER_GW_API_KEY=secret_key




