PGPASSWORD=123456
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_NAME=backup

BACKUP_ROOT=./backups

PG_DUMP_PATH=G:\PostgreSQL\bin\pg_dump.exe

MONGO_DUMP_PATH=G:\MONGODB_TOOLS\bin\mongodump.exe

DEFAULT_RETENTION_DAYS=7